<div class= "home-callout text-center container-fluid">
    <h1>Welcome to FireFight</h1>
    <h3>A membership site for firearm training enthusiasts.</h3>
</div>    

<div class= "container-fluid home-signup-links">
<% if user_signed_in? %>
  <div class="col-md-6">
    <div class="well"> 
      <h2 class="text-center">Your Profile</h2>
        <% if current_user.profile %>
          <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id) , class:'btn btn-default btn-lg btn-block' %>
          <%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-default btn-large btn-block' %>
        <% else %>
         <p> Create a profile to interact with the community.</p>
         <%= link_to "create your profile here", new_user_profile_path(user_id: current_user.id), class:'btn btn-default btn-lg btn-block' %>
         <% end %>
    </div>
  </div>
    <div class="col-md-6">
      <div class="well"> 
        <h2 class="text-center">The Community</h2>
        <p>Visit the community to meet other like minded enthusiasts.</p>
        <%= link_to "Visit the community", users_path , class:'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
<% else %>
      <div class= "row">
        <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Basic Membership</h2>
          <h4>Sign up for free and get basic access to the community <br>.</h4>
          <%= link_to "Sign up with Basic", new_user_registration_path(plan: Plan.find(1).id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Pro Membership</h2>
          <h4>Sign up for the pro account for $10/month and get access to the community and contact information!</h4>
          <%= link_to "Sign up with Pro", new_user_registration_path(plan: Plan.find(2).id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
</div>