<div class="container">
    <div class= "row">
        <h1 class="text-center">Talk to us</h1>
        
        <div class= "col-md-4  col-md-offset-4 text-center">
            <div class= "well">
              <%= form_for @contact do |f| %>
                <div class= "form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
            
                <div class= "form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: 'form-control' %>
                </div>
                
                <div class= "form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, class: 'form-control' %>
                </div>
                
                <%= f.submit 'Submit', class: "btn btn-default" %>
              <% end %>
          </div>
      </div>
  </div>
<div>
    