<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>You have recevied a message from the website's contact form, from
        <%= "#{ @name }, #{ @email }." %></p>
        
        <p><%= @body %></p>
    </body>
    
</html>