/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

//Typography styles
h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
}

// Background Gradient
.navbar, .home-callout {
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Nav Styles
.navbar {
    border: none;
}

// Home page styles
.home-callout {
    color: white;
    margin-top: -20px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.navbar-brand {
    font-family: 'Open-sans', sans-serif;
    font-weight: 800;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

// Navbar toggle states
.navbar-default .navbar-toggle {
    border: 2px solid white;
    &:hover, &:focus {
        background-color: #71B280
    }
}
    
//Navbar Buttons
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
 color: white;   
 &:hover {
     color: white;
     opacity: 0.75;
 }
}

.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -20px;
}

.flash-container {
  position: absolute;
  width: 100%;
}

// Home signup links space
.home-signup-links {
  margin-top: 30px;
}