.avatar-img {
	width: 128px;
	height: 128px;
}

.well.profile-block {
	color: #fff;
	h3 {
		margin-top: 0;
	}
}

.well.profile-description {
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.well.profile-contact-info {
	background-color: #5bc0de;
	border-color: #46b8da;
}

.user-index-avatar {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	
}

.well.white-bg {
	background: white;
}